body {
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}

/* navbar */

.nav-div {
    background-color: #f6b319;
}

.brand-text {
    color: #557c3e;
}

.brand-text:hover {
    color: #3c572c;
    transition: 0.2s ease-in;
}

.nav-link, .navbar-ctx {
    color: #951C49 !important;
}

.nav-link:hover {
    color: #61122f !important;
}

.header-logo-part {
    width: 260px !important;
}

/* main */

.main-img {
    height: 80vh;
    background: bottom/cover url(../img/rest01.jpg) no-repeat;
}

.table-img {
    height: 80vh;
    background: top/cover url(../img/rest02.jpg) no-repeat;
}

.pizza-img {
    height: 80vh;
    background: top/cover url(../img/rest03.jpg) no-repeat;
}

.img-txt {
    text-transform: uppercase;
    font-size: 4vw;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    top: 20px; left: 0;
    background: #000;
    color: #fff;
    position: absolute;
    opacity: 0.6;

}

#menu-tile, #special-tile, #map-tile {
    height: 250px;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid #3F0C1F;
    overflow: hidden;
}

#menu-tile:hover, #special-tile:hover, #map-tile:hover {
    background-color:#000;
    border: 2px solid #462833;
    opacity:0.85;
    transition: 0.15s ease-in-out;
}

#menu-tile {
    background: center/cover url(../img/menu-tile.jpg) no-repeat;
}

#special-tile {
    background: center/cover url(../img/specials-tile.jpg) no-repeat;
}

#menu-tile span, #special-tile span, #map-tile span {
    position: absolute;
    bottom: 0; right: 0;
    text-align: center;
    width: 100%;
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
    background: #000;
    color: #fff;
    opacity: 0.7;
}

/* footer */

.panel-footer {
    background-color: #222;
    font-size: 0.9rem;
    font-weight: 200;
}

#hourse span.ft-txt, #address span.ft-txt {
    line-height: 2;
    font-weight: 600;
    font-size: 1rem;
}

#testimonials div {
    margin-top: 4.5px;
}

.copy-right {
    opacity: 0.8;
    text-align: center;
    font-size: 0.75rem;
    margin-top: 16px;
}

.copy-right:hover {
    color: #dfcccc;
    transition: 0.2s ease-in-out;
}

@media (max-width: 576px) {
    .main-img, .table-img, .pizza-img {
        height: 100vh;
    }
    .img-txt {
        font-size: 7vw;
    }
    .box-titles {
        width: 75%;
        margin: 0 auto;
    }
}

@media (max-width: 767px) {
    .panel-footer {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .visible-xs {
        display: none;
    }
}